/* #item-0 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 4;
}
#item-0:hover {
  transform: scale(1.1);
  z-index: 10;
}
#item-1 {
  background-color: #ecc66c;
  grid-row-start: 2;
  grid-column-start: 2;

  height: 200px;
  grid-row-end: 3;
  grid-column-end: 3;
}
#item-2 {
  background-color: #9d59e9;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#item-3 {
  background-color: #77db98;
  grid-row-start: 2;
  grid-column-start: 3;

  height: 200px;

  grid-row-end: 3;
  grid-column-end: 4;
}
#item-4 {
  background-color: #dd7b69;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
}
#item-5 {
  background-color: #967c9e;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}
#item-6 {
  background-color: #e8d7dc;
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
}
#item-7 {
  background-color: #cddd6b;
  grid-row-start: 4;
  grid-column-start: 4;

  height: 300px;

  grid-row-end: 5;
  grid-column-end: 4;
}
#item-8 {
  background-color: #56db66;
  grid-row-start: 4;
  grid-column-start: 2;

  height: 400px;
  grid-row-end: 6;
  grid-column-end: 4;
}
#item-9 {
  background-color: #9b9a75;
  grid-row-start: 3;
  grid-column-start: 4;
  height: 300px;

  grid-row-end: 4;
  grid-column-end: 5;
}
#item-10 {
  background-color: #c7a857;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}
#item-11 {
  background-color: #8fefbf;
  grid-row-start: 4;
  grid-column-start: 1;
  height: 300px;

  grid-row-end: 5;
  grid-column-end: 2;
}

#item-12 {
  background-color: #757b8d;
  grid-row-start: 5;
  grid-column-start: 2;

  top: -100px;
  grid-row-end: 6;
  grid-column-end: 4;
}

#item-1:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-2:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-3:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-4:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-5:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-6:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-7:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-8:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-9:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-10:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-11:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-12:hover {
  transform: translateY(-100px);
} */


.grid-item {
  /* transition: transform 0.3s ease; */
}

.grid-item:hover {
  transform: scale(1.1);
  z-index: 10;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
}

#item-1 {
  grid-row-start: 2;
  grid-column-start: 2;
  height: 200px;
  grid-row-end: 3;
  grid-column-end: 3;
}

#item-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

#item-3 {
  grid-row-start: 2;
  grid-column-start: 3;
  height: 200px;
  grid-row-end: 3;
  grid-column-end: 4;
}

#item-4 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

#item-5 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}

#item-6 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
}

#item-7 {
  grid-row-start: 4;
  grid-column-start: 4;
  height: 300px;
  grid-row-end: 5;
  grid-column-end: 4;
}

#item-8 {
  grid-row-start: 4;
  grid-column-start: 2;
  height: 400px;
  grid-row-end: 6;
  grid-column-end: 4;
}

#item-9 {
  grid-row-start: 3;
  grid-column-start: 4;
  height: 300px;
  grid-row-end: 4;
  grid-column-end: 5;
}

#item-10 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
}

#item-11 {
  grid-row-start: 4;
  grid-column-start: 1;
  height: 300px;
  grid-row-end: 5;
  grid-column-end: 2;
}

#item-12 {
  grid-row-start: 5;
  grid-column-start: 2;
  top: -100px;
  grid-row-end: 6;
  grid-column-end: 4;
}

